@tailwind base;
@tailwind components;
@tailwind utilities;
.star-rating {
  font-size: 2rem; /* Adjust star size as needed */
}

.star {
  display: inline-block;
  cursor: pointer; /* Indicate interactivity */
}

/* Style for unfilled stars */
.star:hover ~ .star, /* Light up following stars on hover */
  .star.selected {
  color: gold; /* Adjust color as desired */
}
.active {
  background-color: #ff8000;
}

.card {
  margin: 10px;
  width: 350px;
}
.rating_ {
  display: flex;
  width: 100%;
  justify-content: end;
  padding: 10px;
}
.rating-icon {
  margin: 3px;
}
.cuisine-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
